---
version: 2
interactions:
    - id: 0
      request:
        host: api.computesphere.com
        body: '{"name":"tf-deploy-test-svc","plan_id":"9dd4b690-f41a-4d6f-b12b-233766628a9b","project_id":"13316e7e-21d7-43c8-9ee7-69674510ceeb","type":"web-service"}'
        form: {}
        headers:
            Authorization:
                - some-api-token
            Content-Type:
                - application/json
            X-Account-Id:
                - f94e4c35-09f8-40dc-97c7-64ce613ddd87
        url: https://api.computesphere.com/v2/services
        method: POST
      response:
        body: '{"object":"service","id":"05983590-ad30-4c30-b4e7-2f59f1191428","name":"tf-deploy-test-svc","type":"web-service","project_id":"13316e7e-21d7-43c8-9ee7-69674510ceeb","plan_id":"9dd4b690-f41a-4d6f-b12b-233766628a9b","plan":null,"active":true,"last_opened_at":null,"created_at":"2026-07-11T12:57:47.441746Z","updated_at":"2026-07-11T12:57:47.441746Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 475.29075ms
    - id: 1
      request:
        host: api.computesphere.com
        body: '{"environment_id":"b3669d6a-d89e-4037-873a-65903f3f3ced","image":"nginx:latest","port":80,"project_id":"13316e7e-21d7-43c8-9ee7-69674510ceeb","service_id":"05983590-ad30-4c30-b4e7-2f59f1191428","type":"web-service"}'
        form: {}
        headers:
            Authorization:
                - some-api-token
            Content-Type:
                - application/json
            X-Account-Id:
                - f94e4c35-09f8-40dc-97c7-64ce613ddd87
        url: https://api.computesphere.com/v2/deployments
        method: POST
      response:
        body: '{"object":"deployment","id":"1d39b56e-0e28-4f25-a4af-a14df7092a9c","type":"web-service","name":"tf-deploy-test-svc","status":"Deploying","outputs":{"internal_url":"http://d-1d39b56e:80","url":"https://d-tf-deploy-test-svc-1d39b56e.computesphere.app"},"raw":{"id":"1d39b56e-0e28-4f25-a4af-a14df7092a9c","created_at":"2026-07-11T12:57:47.780408Z","last_opened_at":"0001-01-01T00:00:00Z","deployment_name":"d-1d39b56e","service_id":"05983590-ad30-4c30-b4e7-2f59f1191428","service_name":"tf-deploy-test-svc","service_type":"web-service","project_id":"13316e7e-21d7-43c8-9ee7-69674510ceeb","project_name":"","env_id":"b3669d6a-d89e-4037-873a-65903f3f3ced","user_id":"b21abb1d-0f83-4de1-b6ae-d5ce6767e966","account_id":"11111111-1111-1111-1111-111111111111","environment":{"id":"b3669d6a-d89e-4037-873a-65903f3f3ced","name":"dev-o95nfo","region":"us-east-1","domain_details":{"account_id":"11111111-1111-1111-1111-111111111111","project_name":"","project_id":"13316e7e-21d7-43c8-9ee7-69674510ceeb","service_name":"tf-deploy-test-svc","service_id":"05983590-ad30-4c30-b4e7-2f59f1191428","env_name":"","environment":{"sub_domain":"","custom_domain":"","domain_path":""},"env_id":"b3669d6a-d89e-4037-873a-65903f3f3ced","sub_domain":"","custom_domain":"","message":"","status":false,"expiry_date":"","request_raised":false,"domain_path":""}},"image_name":"","port":80,"sphere_count":1,"spherelet_resource_value":{"core":250,"memory":512},"auto_scaling_config":{"enabled":false,"min_replicas":0,"max_replicas":0,"cpu_utilization":0},"max_sphere_count":0,"namespace":"env-b3669d6a","environment_variables":null,"secret_variables":null,"sub_domain":"d-tf-deploy-test-svc-1d39b56e.computesphere.app","custom_domain":"","status":"Deploying","status_updated_at":"2026-07-11T12:57:47.778929Z","custom_domain_certificate":{"id":"","deployment_name":"","is_for_env":false,"env_id":"","not_after":"","not_before":"","renewal_time":"","message":"","private_key":"","certificate":"","type":"","status":false,"is_secret_applied":false},"domain_details":{"account_id":"","project_name":"","project_id":"","service_name":"","service_id":"","env_name":"","environment":{"sub_domain":"","custom_domain":"","domain_path":""},"env_id":"","sub_domain":"","custom_domain":"","message":"","status":false,"expiry_date":"","request_raised":false,"domain_path":""},"description":"","health_check":{"enabled":false,"path":"","port":0,"initial_delay_seconds":0,"period_seconds":0},"image":{"name":"nginx:latest","type":"public","provider":""},"db_config":{"operator":"","version":"","storage":0,"username":"","password":"","root_password":"","db_name":""},"ci_config":{},"runtime_config":{"type":"image","dockerfile":"Dockerfile","image":"nginx:latest","port":80,"pipeline_tier":"starter"},"external_logging":{"enabled":false,"provider":"","gcp_credential":null,"cloudwatch_credential":null,"s3_credential":null,"elastic_credential":null,"loki_credential":null,"kafka_credential":null,"additional_setting":null},"cronjob":{"schedule":"","command":"","suspend":null},"network_access":{"whitelisted_ips":[],"type":"public_access"},"stors":[],"domain_path":"","scheduled_backup":{"id":"","deployment_id":"","schedule_time":"","schedule":false}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 367.326416ms
    - id: 2
      request:
        host: api.computesphere.com
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-token
            Content-Type:
                - application/json
            X-Account-Id:
                - f94e4c35-09f8-40dc-97c7-64ce613ddd87
        url: https://api.computesphere.com/v2/deployments/1d39b56e-0e28-4f25-a4af-a14df7092a9c/deploy
        method: POST
      response:
        body: '{"object":"deployment","id":[...]
    - id: 3
      request:
        host: api.computesphere.com
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-token
            X-Account-Id:
                - f94e4c35-09f8-40dc-97c7-64ce613ddd87
        url: https://api.computesphere.com/v2/deployments/1d39b56e-0e28-4f25-a4af-a14df7092a9c
        method: GET
      response:
        body: '{"object":"deployment","id":"1d39b56e-0e28-4f25-a4af-a14df7092a9c","type":"web-service","name":"tf-[...]
    - id: 4
      request:
        host: api.computesphere.com
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-token
            X-Account-Id:
                - f94e4c35-09f8-40dc-97c7-64ce613ddd87
        url: https://api.computesphere.com/v2/deployments/1d39b56e-0e28-4f25-a4af-a14df7092a9c/status
        method: GET
      response:
        body: '{"object":"deployment_status","id":"1d39b56e-0e28-4f25-a4af-a14df7092a9c","status":"Redeploying","status_updated_at":"2026-07-11T12:57:48.084838Z","sphere_count":1,"max_sphere_count":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 127.986125ms
    - id: 5
      request:
        host: api.computesphere.com
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-token
            X-Account-Id:
                - f94e4c35-09f8-40dc-97c7-64ce613ddd87
        url: https://api.computesphere.com/v2/services/05983590-ad30-4c30-b4e7-2f59f1191428
        method: GET
      response:
        body: '{"object":"service","id":"05983590-ad30-4c30-b4e7-2f59f1191428","name":"tf-deploy-test-svc","type":"web-service","project_id":"13316e7e-21d7-43c8-9ee7-69674510ceeb","plan_id":"9dd4b690-f41a-4d6f-b12b-233766628a9b","plan":{"object":"plan","id":"9dd4b690-f41a-4d6f-b12b-233766628a9b","name":"FLX","display_name":"Flex","slug":"","country_code":"US","currency_code":"USD","memory":512,"core":250,"price":9,"type":"spherelet","active":true},"active":true,"last_opened_at":null,"created_at":"2026-07-11T12:57:47.441746Z","updated_at":"2026-07-11T12:57:47.441746Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 124.867375ms
[...]
