---
version: 2
interactions:
    - id: 0
      request:
        host: api.computesphere.com
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-token
        url: https://api.computesphere.com/v2/subscriptions/a04d59a6-6e78-449e-9613-bec40ae36d46
        method: GET
      response:
        body: '{"object":"subscription","id":"a04d59a6-6e78-449e-9613-bec40ae36d46","name":"Hobby","price":15,"country_code":"US","currency_code":"USD","active":true,"created_at":"0001-01-01T00:00:00Z","subscription_item":[{"object":"subscription_item","id":"0ee7feab-a033-4cea-bd6a-07c57d331dc1","slug":"email_support","value":"no","feature":{"object":"subscription_feature","id":"","name":"","type":"","accessibility":""},"category":null},{"object":"subscription_item","id":"8565087f-2cf8-410b-ac57-d890409d40dd","slug":"chat_support","value":"no","feature":{"object":"subscription_feature","id":"","name":"","type":"","accessibility":""},"category":null},{"object":"subscription_item","id":"540e0382-735f-4d2a-a98a-619b05b1e0c9","slug":"phone_support","value":"no","feature":{"object":"subscription_feature","id":"","name":"","type":"","accessibility":""},"category":null},{"object":"subscription_item","id":"7937b120-58d1-4f76-957f[...]
[...]
