---
version: 2
interactions:
    - id: 0
      request:
        host: api.computesphere.com
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-token
            X-Account-Id:
                - 11111111-1111-1111-1111-111111111111
        url: https://api.computesphere.com/v2/teams?account_id=11111111-1111-1111-1111-111111111111
        method: GET
      response:
        body: '{"object":"list","items":[{"object":"team","id":"f4b4f0b7-7d07-407e-8b75-d7652bae1ce0","name":"Platform","description":"Owns build, deploy, and observability for the platform.","account_id":"11111111-1111-1111-1111-111111111111","owner_id":null,"created_at":"2026-06-11T16:43:20.185351Z","updated_at":"2026-06-11T17:12:54.427113Z","members":[{"object":"team_member","id":"22222222-2222-2222-2222-222222222222","email":"member@example.com","first_name":"Ada","last_name":"Lovelace"}]}],"pagination":{"page":1,"page_size":20,"total":1,"total_pages":1,"next":null,"prev":null,"next_cursor":null,"prev_cursor":null},"warnings":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 160.072333ms
[...]
