---
version: 2
interactions:
    - id: 0
      request:
        host: api.computesphere.com
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-token
            X-Account-Id:
                - f94e4c35-09f8-40dc-97c7-64ce613ddd87
        url: https://api.computesphere.com/v2/teams/f4b4f0b7-7d07-407e-8b75-d7652bae1ce0
        method: GET
      response:
        body: '{"object":"team","id":"f4b4f0b7-7d07-407e-8b75-d7652bae1ce0","name":"Platform","description":"Owns build, deploy, and observability for the platform.","account_id":"11111111-1111-1111-1111-111111111111","owner_id":null,"created_at":"2026-06-11T16:43:20.185351Z","updated_at":"2026-06-11T17:12:54.427113Z","members":[{"object":"team_member","id":"b21abb1d-0f83-4de1-b6ae-d5ce6767e966","email":"garretttom931@hotmail.com","first_name":"Tom","last_name":"Garett"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 598.607375ms
[...]
