---
version: 2
interactions:
    - id: 0
      request:
        host: api.computesphere.com
        body: '{"expiry":"2027-01-01T00:00:00Z","name":"example-token","scope":"full"}'
        form: {}
        headers:
            Authorization:
                - some-api-token
            Content-Type:
                - application/json
            X-Account-Id:
                - f94e4c35-09f8-40dc-97c7-64ce613ddd87
        url: https://api.computesphere.com/v2/api-tokens
        method: POST
      response:
        body: '{"object":"api_token_created","token":{"object":"api_token","id":"a1a88b49-1f57-41d5-be71-1d9852ec4bbf","name":"example-token","scope":"full","user_id":"b21abb1d-0f83-4de1-b6ae-d5ce6767e966","account_id":"11111111-1111-1111-1111-111111111111","account_ids":[],"project_ids":[],"expiry":"2027-01-01T00:00:00Z","created_at":"2026-07-11T02:45:09.088712Z"},"secret":"csph_0ts8G8pVCa67jetA7CQtJkO0pQGvzTYP"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 358.302375ms
    - id: 1
      request:
        host: api.computesphere.com
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-token
            X-Account-Id:
                - f94e4c35-09f8-40dc-97c7-64ce613ddd87
        url: https://api.computesphere.com/v2/api-tokens/a1a88b49-1f57-41d5-be71-1d9852ec4bbf
        method: GET
      response:
        body: '{"object":"api_token","id":"a1a88b49-1f57-41d5-be71-1d9852ec4bbf","name":"example-token","scope":"full","user_id":"b21abb1d-0f83-4de1-b6ae-d5ce6767e966","account_id":"11111111-1111-1111-1111-111111111111","account_ids":[],"project_ids":[],"expiry":"2027-01-01T00:00:00Z","created_at":"2026-07-11T02:45:09.088712Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 96.351333ms
[...]
