---
version: 2
interactions:
    - id: 0
      request:
        host: api.computesphere.com
        body: '{"name":"example-service","plan_id":"9dd4b690-f41a-4d6f-b12b-233766628a9b","project_id":"13316e7e-21d7-43c8-9ee7-69674510ceeb","type":"web-service"}'
        form: {}
        headers:
            Authorization:
                - some-api-token
            Content-Type:
                - application/json
            X-Account-Id:
                - f94e4c35-09f8-40dc-97c7-64ce613ddd87
        url: https://api.computesphere.com/v2/services
        method: POST
      response:
        body: '{"object":"service","id":"9455ae05-24ad-41da-a060-0b19e7d1cf62","name":"example-service","type":"web-service","project_id":"13316e7e-21d7-43c8-9ee7-69674510ceeb","plan_id":"9dd4b690-f41a-4d6f-b12b-233766628a9b","plan":null,"active":true,"last_opened_at":null,"created_at":"2026-07-11T02:48:07.661592Z","updated_at":"2026-07-11T02:48:07.661592Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 396.723458ms
    - id: 1
      request:
        host: api.computesphere.com
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-token
            X-Account-Id:
                - f94e4c35-09f8-40dc-97c7-64ce613ddd87
        url: https://api.computesphere.com/v2/services/9455ae05-24ad-41da-a060-0b19e7d1cf62
        method: GET
      response:
        body: '{"object":"service","id":"9455ae05-24ad-41da-a060-0b19e7d1cf62","name":"example-service","type":"web-service","project_id":"13316e7e-21d7-43c8-9ee7-69674510ceeb","plan_id":"9dd4b690-f41a-4d6f-b12b-233766628a9b","plan":{"object":"plan","id":"9dd4b690-f41a-4d6f-b12b-233766628a9b","name":"FLX","display_name":"Flex","slug":"","country_code":"US","currency_code":"USD","memory":512,"core":250,"price":9,"type":"spherelet","active":true},"active":true,"last_opened_at":null,"created_at":"2026-07-11T02:48:07.661592Z","updated_at":"2026-07-11T02:48:07.661592Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 112.352417ms
[...]
