---
version: 2
interactions:
    - id: 0
      request:
        host: api.computesphere.com
        body: '{"activity":false,"billing":false,"deployment":false,"email_enabled":true,"emails":["user@example.com"],"inapp_enabled":false,"invites":false,"payment":false,"webhook_enabled":false,"webhooks":[]}'
        form: {}
        headers:
            Authorization:
                - some-api-token
            Content-Type:
                - application/json
            X-Account-Id:
                - f94e4c35-09f8-40dc-97c7-64ce613ddd87
        url: https://api.computesphere.com/v2/notifications/settings
        method: PUT
      response:
        body: '{"object":"notification_settings","id":"d08b2329-8d9e-4c27-b0af-5153cc2b123f","user_id":"b21abb1d-0f83-4de1-b6ae-d5ce6767e966","billing":false,"payment":false,"deployment":false,"activity":false,"invites":false,"inapp_enabled":false,"email_enabled":true,"webhook_enabled":false,"emails":["user@example.com"],"webhooks":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 247.131459ms
[...]
