---
version: 2
interactions:
    - id: 0
      request:
        host: api.computesphere.com
        body: '{"account_id":"11111111-1111-1111-1111-111111111111","description":"Database acceptance test","name":"tf-test-database"}'
        form: {}
        headers:
            Authorization:
                - some-api-token
            Content-Type:
                - application/json
            X-Account-Id:
                - 11111111-1111-1111-1111-111111111111
        url: https://api.computesphere.com/v2/projects
        method: POST
      response:
        body: '{"object":"project","id":"de256b34-5700-4b18-ad81-bc0eff78aa82","name":"tf-test-database","description":"Database acceptance test","account_id":"11111111-1111-1111-1111-111111111111","user_id":"b21abb1d-0f83-4de1-b6ae-d5ce6767e966","created_by":"b21abb1d-0f83-4de1-b6ae-d5ce6767e966","active":true,"alert_enabled":false,"alert_emails_enabled":true,"service_count":0,"deployment_count":0,"sphere_count":0,"last_opened_at":"2026-10-02T13:25:34.118096Z","created_at":"2026-10-02T13:25:34.121468Z","updated_at":"2026-10-02T13:25:34.121468Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 560.217ms
    - id: 1
      request:
        host: api.computesphere.com
        body: '{"name":"tf-test-db-env","project_id":"de256b34-5700-4b18-ad81-bc0eff78aa82","region":"us-east-1"}'
        form: {}
        headers:
            Authorization:
                - some-api-token
            Content-Type:
                - application/json
            X-Account-Id:
                - 11111111-1111-1111-1111-111111111111
        url: https://api.computesphere.com/v2/environments
        method: POST
      response:
        body: '{"object":"environment","id":"b6b500f3-e90f-42c1-b1e3-a015a4fef6b0","name":"tf-test-db-env","project_id":"de256b34-5700-4b18-ad81-bc0eff78aa82","region":"us-east-1","active":true,"network_policy":null,"network_access":null,"sub_domain":null,"custom_domain":null,"domain_path":{},"default_url_disabled":false,"deploy_policy":"auto","deployment_count":0,"deployments":[],"kind":"standard","created_at":"2026-10-02T13:25:34.360705Z","updated_at":"2026-10-02T13:25:34.360705Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 124.738834ms
    - id: 2
      request:
        host: api.computesphere.com
        body: '{"engine":"postgresql","environment_id":"b6b500f3-e90f-42c1-b1e3-a015a4fef6b0","inject":false,"instance_type":"pg-1c-2g","name":"tf-test-db","storage_gb":10}'
        form: {}
        headers:
            Authorization:
                - some-api-token
            Content-Type:
                - application/json
            X-Account-Id:
                - 11111111-1111-1111-1111-111111111111
        url: https://api.computesphere.com/v2/databases
        method: POST
      response:
        body: '{"account_id":"11111111-1111-1111-1111-111111111111","backups":{"enabled":true,"reason":null},"created_at":"2026-10-02T13:25:34.518081Z","engine":"postgresql","environment_id":"b6b500f3-e90f-42c1-b1e3-a015a4fef6b0","error":"","high_availability":"none","id":"aacbd643-e1fa-4bc6-967a-5f083cf007de","instance_type":"pg-1c-2g","last_backup_at":null,"links":{"backups":"/v2/databases/aacbd643-e1fa-4bc6-967a-5f083cf007de/backups","connection":"/v2/databases/aacbd643-e1fa-4bc6-967a-5f083cf007de/connection","metrics":"/v2/databases/aacbd643-e1fa-4bc6-967a-5f083cf007de/metrics","self":"/v2/databases/aacbd643-e1fa-4bc6-967a-5f083cf007de"},"members":[{"role":"primary","zone":null}],"minor_version":null,"name":"tf-test-db","object":"database","plan":"hobby","project_id":"de256b34-5700-4b18-ad81-bc0eff78aa82","public_access":{"allowed_cidrs":[],"database_id":"aacbd643-e1fa-4bc6-967a-5f083cf007de","enabled":false,"hostname":null,"object":"database_public_access","updated_at":null},"reason_code":null,"redundancy":"single-zone","region":"us-east-1","restore_window_days":7,"status":"provisioning","storage_gb":10,"storage_used_gb":null,"updated_at":"2026-10-02T13:25:34.532838Z","version":"18"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Location:
                - /v2/databases/aacbd643-e1fa-4bc6-967a-5f083cf007de
        status: 201 Created
        code: 201
        duration: 1.947289208s
    - id: 3
      request:
        host: api.computesphere.com
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-token
            X-Account-Id:
                - 11111111-1111-1111-1111-111111111111
        url: https://api.computesphere.com/v2/databases/aacbd643-e1fa-4bc6-967a-5f083cf007de
        method: GET
      response:
        body: '{"account_id":"11111111-1111-1111-1111-111111111111","backups":{"enabled":true,"reason":null},"create[...]
[...]
    - id: 15
      request:
        host: api.computesphere.com
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-token
            X-Account-Id:
                - 11111111-1111-1111-1111-111111111111
        url: https://api.computesphere.com/v2/projects/de256b34-5700-4b18-ad81-bc0eff78aa82
        method: GET
      response:
        body: '{"object":"project","id":"de256b34-5700-4b18-ad81-bc0eff78aa82","name":"tf-test-database","description":"Database acceptance test","account_id":"11111111-1111-1111-1111-111111111111","user_id":"b21abb1d-0f83-4de1-b6ae-d5ce6767e966","created_by":"b21abb1d-0f83-4de1-b6ae-d5ce6767e966","active":true,"alert_enabled":false,"alert_emails_enabled":true,"service_count":0,"deployment_count":1,"sphere_count":1,"last_opened_at":"2026-10-02T13:25:34.118096Z","created_at":"2026-10-02T13:25:34.121468Z","updated_at":"2026-10-02T13:25:34.121468Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 143.010458ms
    - id: 16
      request:
        host: api.computesphere.com
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-token
            X-Account-Id:
                - 11111111-1111-1111-1111-111111111111
        url: https://api.computesphere.com/v2/environments/b6b500f3-e90f-42c1-b1e3-a015a4fef6b0
        method: GET
      response:
        body: '{"object":"environment","id":"b6b500f3-e90f-42c1-b1e3-a015a4fef6b0","name":"tf-test-db-env","project_id":"de256b34-5700-4b18-ad81-bc0eff78aa82","region":"us-east-1","active":true,"network_policy":null,"network_access":null,"sub_domain":null,"custom_domain":null,"domain_path":{},"default_url_disabled":false,"deploy_policy":"auto","deployment_count":1,"deployments":[{"object":"service_deployment","id":"aacbd643-e1fa-4bc6-967a-5f083cf007de","name":"tf-test-db","service_name":"tf-test-db","type":"postgresql","service_type":"postgresql","status":"Running","service_id":"","env_id":"b6b500f3-e90f-42c1-b1e3-a015a4fef6b0","environment":{"id":"b6b500f3-e90f-42c1-b1e3-a015a4fef6b0","name":"tf-test-db-env","region":"us-east-1"},"sphere_count":1,"last_deployed_at":null}],"kind":"standard","created_at":"2026-10-02T13:25:34.360705Z","updated_at":"2026-10-02T13:25:34.360705Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 103.042833ms
[...]
    - id: 91
      request:
        host: api.computesphere.com
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-token
            X-Account-Id:
                - 11111111-1111-1111-1111-111111111111
        url: https://api.computesphere.com/v2/environments/b6b500f3-e90f-42c1-b1e3-a015a4fef6b0?cascade=true
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 106.715208ms
    - id: 92
      request:
        host: api.computesphere.com
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-token
            X-Account-Id:
                - 11111111-1111-1111-1111-111111111111
        url: https://api.computesphere.com/v2/projects/de256b34-5700-4b18-ad81-bc0eff78aa82?cascade=true
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 105.857375ms
