---
version: 2
interactions:
    - id: 0
      request:
        host: api.computesphere.com
        body: '{"name":"example-environment","project_id":"13316e7e-21d7-43c8-9ee7-69674510ceeb","region":"us-east-1"}'
        form: {}
        headers:
            Authorization:
                - some-api-token
            Content-Type:
                - application/json
            X-Account-Id:
                - 11111111-1111-1111-1111-111111111111
        url: https://api.computesphere.com/v2/environments
        method: POST
      response:
        body: '{"object":"environment","id":"75e6d461-87f8-4beb-8243-7427c6632efa","name":"example-environment","project_id":"13316e7e-21d7-43c8-9ee7-69674510ceeb","region":"us-east-1","active":true,"network_policy":null,"network_access":null,"sub_domain":null,"custom_domain":null,"domain_path":{},"created_at":"2026-07-11T02:47:44.346739Z","updated_at":"2026-07-11T02:47:44.346739Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 231.0575ms
    - id: 1
      request:
        host: api.computesphere.com
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-token
            X-Account-Id:
                - 11111111-1111-1111-1111-111111111111
        url: https://api.computesphere.com/v2/environments/75e6d461-87f8-4beb-8243-7427c6632efa
        method: GET
      response:
        body: '{"object":"environment","id":"75e6d461-87f8-4beb-8243-7427c6632efa","name":"example-environment","project_id":"13316e7e-21d7-43c8-9ee7-69674510ceeb","region":"us-east-1","active":true,"network_policy":null,"network_access":null,"sub_domain":null,"custom_domain":null,"domain_path":{},"created_at":"2026-07-11T02:47:44.346739Z","updated_at":"2026-07-11T02:47:44.346739Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 68.318333ms
    - id: 2
      request:
        host: api.computesphere.com
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-token
            X-Account-Id:
                - 11111111-1111-1111-1111-111111111111
        url: https://api.computesphere.com/v2/environments/75e6d461-87f8-4beb-8243-7427c6632efa?cascade=true
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 83.098833ms
