---
version: 2
interactions:
    - id: 0
      request:
        host: api.computesphere.com
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-token
        url: https://api.computesphere.com/v2/plans
        method: GET
      response:
        body: '{"object":"list","items":[{"object":"plan","id":"67449b6e-4292-4f60-9845-2d8f729d1ac3","name":"SphereStorNG","display_name":"SphereStorNG","slug":"","country_code":"NG","currency_code":"NGN","memory":0,"core":0,"price":180000,"type":"","active":false},{"object":"plan","id":"510f0418-7544-4c1d-9565-b9ffe3ec7ae9","name":"SphereStorUS","display_name":"SphereStorUS","slug":"","country_code":"US","currency_code":"USD","memory":0,"core":0,"price":110,"type":"","active":true},{"object":"plan","id":"aaf6066b-e0da-4c43-b7b5-f5b84263d2cf","name":"PWR","display_name":"Performance","slug":"","country_code":"NG","currency_code":"NGN","memory":4096,"core":2000,"price":41600,"type":"","active":false},{"object":"plan","id":"775d637d-12b0-48d6-808a-657[...]
[...]
