---
version: 2
interactions:
    - id: 0
      request:
        host: api.computesphere.com
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-token
        url: https://api.computesphere.com/v2/plans/67449b6e-4292-4f60-9845-2d8f729d1ac3
        method: GET
      response:
        body: '{"object":"plan","id":"67449b6e-4292-4f60-9845-2d8f729d1ac3","name":"SphereStorNG","display_name":"SphereStorNG","slug":"","country_code":"NG","currency_code":"NGN","memory":0,"core":0,"price":180000,"type":"","active":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 251.275292ms
[...]
