---
version: 2
interactions:
    - id: 0
      request:
        host: api.computesphere.com
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-token
            X-Account-Id:
                - 11111111-1111-1111-1111-111111111111
        url: https://api.computesphere.com/v2/environments?project_id=13316e7e-21d7-43c8-9ee7-69674510ceeb
        method: GET
      response:
        body: '{"object":"list","items":[{"object":"environment","id":"b3669d6a-d89e-4037-873a-65903f3f3ced","name":"dev-o95nfo","project_id":"13316e7e-21d7-43c8-9ee7-69674510ceeb","region":"us-east-1","active":true,"network_policy":null,"network_access":null,"sub_domain":null,"custom_domain":null,"domain_path":{},"created_at":"2026-07-10T20:02:24.51503Z","updated_at":"2026-07-10T20:02:24.51503Z"}],"pagination":{"page":1,"page_size":1,"total":1,"total_pages":1,"next":null,"prev":null,"next_cursor":null,"prev_cursor":null},"warnings":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 133.420209ms
[...]
