---
version: 2
interactions:
    - id: 0
      request:
        host: api.computesphere.com
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-token
            X-Account-Id:
                - f94e4c35-09f8-40dc-97c7-64ce613ddd87
        url: https://api.computesphere.com/v2/environments/b3669d6a-d89e-4037-873a-65903f3f3ced
        method: GET
      response:
        body: '{"object":"environment","id":"b3669d6a-d89e-4037-873a-65903f3f3ced","name":"dev-o95nfo","project_id":"13316e7e-21d7-43c8-9ee7-69674510ceeb","region":"us-east-1","active":true,"network_policy":null,"network_access":null,"sub_domain":null,"custom_domain":null,"domain_path":{},"created_at":"2026-07-10T20:02:24.51503Z","updated_at":"2026-07-10T20:02:24.51503Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 545.533833ms
[...]
