---
version: 2
interactions:
    - id: 0
      request:
        host: api.computesphere.com
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-token
            X-Account-Id:
                - 11111111-1111-1111-1111-111111111111
        url: https://api.computesphere.com/v2/notifications/settings
        method: GET
      response:
        body: '{"object":"notification_settings","id":"d08b2329-8d9e-4c27-b0af-5153cc2b123f","user_id":"22222222-2222-2222-2222-222222222222","billing":false,"payment":false,"deployment":false,"activity":false,"invites":false,"inapp_enabled":false,"email_enabled":true,"webhook_enabled":false,"emails":["user@example.com"],"webhooks":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 465.272458ms
[...]
