---
version: 2
interactions:
    - id: 0
      request:
        host: api.computesphere.com
        body: '{"account_id":"11111111-1111-1111-1111-111111111111","description":"Project for datasource list test","name":"tf-datasource-list-1"}'
        form: {}
        headers:
            Authorization:
                - some-api-token
            Content-Type:
                - application/json
            X-Account-Id:
                - f94e4c35-09f8-40dc-97c7-64ce613ddd87
        url: https://api.computesphere.com/v2/projects
        method: POST
      response:
        body: '{"object":"project","id":"6840ebe6-5c29-4676-8e56-28a50c2aaf64","name":"tf-datasource-list-1","description":"Project for datasource list test","account_id":"11111111-1111-1111-1111-111111111111","user_id":null,"created_by":null,"active":false,"alert_enabled":false,"service_count":0,"deployment_count":0,"sphere_count":0,"last_opened_at":null,"created_at":"2026-07-11T02:52:34.392066Z","updated_at":"2026-07-11T02:52:34.392066Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 87.343709ms
    - id: 1
      request:
        host: api.computesphere.com
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-token
            X-Account-Id:
                - f94e4c35-09f8-40dc-97c7-64ce613ddd87
        url: https://api.computesphere.com/v2/projects?account_id=11111111-1111-1111-1111-111111111111
        method: GET
      response:
        body: '{"object":"list","items":[{"object":"project","id":"6840ebe6-5c29-4676-8e56-28a50c2aaf64","name":"tf-datasource-list-1","description":"Project for datasource list test","account_id":"11111111-1111-1111-1111-111111111111","user_id":null,"created_by":null,"active":false,"alert_enabled":false,"service_count":0,"deployment_count":0,"sphere_count":0,"last_opened_at":null,"created_at":"2026-07-11T02:52:34.392066Z","updated_at":"2026-07-11T02:52:34.392066Z"},{"object":"project","id":"13316e7e-21d7-43c8-9ee7-69674510ceeb","name":"savanna-3xp5a3","description":null,"account_id":"11111111-1111-1111-1111-111111111111","user_id":null,"created_by":null,"active":false,"alert_enabled":false,"service_count":1,"deployment_count":1,"sphere_count":1,"last_opened_at":"2026-07-11T02:50:23.021236Z","created_at":"2026-07-10T20:02:14.217027Z","updated_at":"2026-07-11T02:50:23.02279Z"}],"pagination":{"page":1,"page_size":20,"total":2,"total_pages":1,"next":null,"prev":null,"next_cursor":null,"prev_cursor":null},"warnings":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 75.935125ms
[...]
    - id: 3
      request:
        host: api.computesphere.com
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-token
            X-Account-Id:
                - f94e4c35-09f8-40dc-97c7-64ce613ddd87
        url: https://api.computesphere.com/v2/projects/6840ebe6-5c29-4676-8e56-28a50c2aaf64
        method: GET
      response:
        body: '{"object":"project","id":"6840ebe6-5c29-4676-8e56-28a50c2aaf64","name":"tf-datasource-list-1","description":"Project for datasource list test","account_id":"11111111-1111-1111-1111-111111111111","user_id":null,"created_by":null,"active":false,"alert_enabled":false,"service_count":0,"deployment_count":0,"sphere_count":0,"last_opened_at":null,"created_at":"2026-07-11T02:52:34.392066Z","updated_at":"2026-07-11T02:52:34.392066Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 72.709916ms
[...]
    - id: 5
      request:
        host: api.computesphere.com
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-token
            X-Account-Id:
                - f94e4c35-09f8-40dc-97c7-64ce613ddd87
        url: https://api.computesphere.com/v2/projects/6840ebe6-5c29-4676-8e56-28a50c2aaf64?cascade=true
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 75.989375ms
