---
version: 2
interactions:
    - id: 0
      request:
        host: api.computesphere.com
        body: '{"account_id":"11111111-1111-1111-1111-111111111111","description":"Project 2 for datasource list test","name":"tf-datasource-list-2"}'
        form: {}
        headers:
            Authorization:
                - some-api-token
            Content-Type:
                - application/json
        url: https://api.computesphere.com/v2/projects
        method: POST
      response:
        body: '{"object":"project","id":"50a540a6-f2a9-4593-981c-4748bb943270","name":"tf-datasource-list-2","description":"Project 2 for datasource list test","account_id":"11111111-1111-1111-1111-111111111111","user_id":null,"created_by":null,"active":false,"alert_enabled":false,"service_count":0,"deployment_count":0,"sphere_count":0,"last_opened_at":null,"created_at":"2026-07-11T02:30:09.654667Z","updated_at":"2026-07-11T02:30:09.654667Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 189.468041ms
[...]
    - id: 2
      request:
        host: api.computesphere.com
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-token
        url: https://api.computesphere.com/v2/projects?account_id=11111111-1111-1111-1111-111111111111
        method: GET
      response:
        body: '{"object":"list","items":[{"object":"project","id":"af6e125d-ae66-4867-9ce2-15410de07ad2","name":"tf-datasource-list-1","description":"Project 1 for datasource list test","account_id":"11111111-1111-1111-1111-111111111111","user_id":null,"created_by":null,"active":false,"alert_enabled":false,"service_count":0,"deployment_count":0,"sphere_count":0,"last_opened_at":null,"created_at":"2026-07-11T02:30:09.70698Z","updated_at":"2026-07-11T02:30:09.70698Z"},{"object":"project","id":"50a540a6-f2a9-4593-981c-4748bb943270","name":"tf-datasource-list-2","description":"Project 2 for datasource list test","account_id":"11111111-1111-1111-1111-111111111111","user_id":null,"created_by":null,"active":false,"alert_enabled":false,"service_count":0,"deployment_count":0,"sphere_count":0,"last_opened_at":null,"created_at":"2026-07-11T02:30:09.654667Z","updated_at":"2026-07-11T02:30:09.654667Z"},{"object":"project","id":"13316e7e-21d7-43c8-9ee7-69674510ceeb","name":"savanna-3xp5a3","description":null,"account_id":"11111111-1111-1111-1111-111111111111","user_id":null,"created_by":null,"active":false,"alert_enabled":false,"service_count":1,"deployment_count":1,"sphere_count":1,"last_opened_at":null,"created_at":"2026-07-10T20:02:14.217027Z","updated_at":"2026-07-10T20:02:14.217027Z"}],"pagination":{"page":1,"page_size":20,"total":3,"total_pages":1,"next":null,"prev":null,"next_cursor":null,"prev_cursor":null},"warnings":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 139.799875ms
    - id: 3
      request:
        host: api.computesphere.com
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-token
        url: https://api.computesphere.com/v2/projects/af6e125d-ae66-4867-9ce2-15410de07ad2?cascade=true
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 213.81725ms
[...]
