---
version: 2
interactions:
    - id: 0
      request:
        host: api.computesphere.com
        body: '{"account_id":"11111111-1111-1111-1111-111111111111","description":"Project 2 for datasource list test","name":"tf-datasource-list-2"}'
        form: {}
        headers:
            Authorization:
                - some-api-token
            Content-Type:
                - application/json
            X-Account-Id:
                - f94e4c35-09f8-40dc-97c7-64ce613ddd87
        url: https://api.computesphere.com/v2/projects
        method: POST
      response:
        body: '{"object":"project","id":"29a0d0fb-4c9c-4aca-ba87-50255d950a2f","name":"tf-datasource-list-2","description":"Project 2 for datasource list test","account_id":"11111111-1111-1111-1111-111111111111","user_id":null,"created_by":null,"active":false,"alert_enabled":false,"service_count":0,"deployment_count":0,"sphere_count":0,"last_opened_at":null,"created_at":"2026-07-11T02:39:06.122999Z","updated_at":"2026-07-11T02:39:06.122999Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 122.654833ms
[...]
    - id: 2
      request:
        host: api.computesphere.com
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-token
            X-Account-Id:
                - f94e4c35-09f8-40dc-97c7-64ce613ddd87
        url: https://api.computesphere.com/v2/projects?account_id=11111111-1111-1111-1111-111111111111
        method: GET
      response:
        body: '{"object":"list","items":[{"object":"project","id":"3bd3dc78-8f36-407c-856e-8f11691f4a9b","name":"tf-datasource-list-1","description":"Project 1 for datasource list test","account_id":"11111111-1111-1111-1111-111111111111","user_id":null,"created_by":null,"active":false,"alert_enabled":false,"service_count":0,"deployment_count":0,"sphere_count":0,"last_opened_at":null,"created_at":"2026-07-11T02:39:06.216401Z","updated_at":"2026-07-11T02:39:06.216401Z"},{"object":"project","id":"29a0d0fb-4c9c-4aca-ba87-50255d950a2f","name":"tf-datasource-list-2","description":"Project 2 for datasource list test","account_id":"11111111-1111-1111-1111-111111111111","user_id":null,"created_by":null,"active":false,"alert_enabled":false,"service_count":0,"deployment_count":0,"sphere_count":0,"last_opened_at":null,"created_at":"2026-07-11T02:39:06.122999Z","updated_at":"2026-07-11T02:39:06.122999Z"},{"object":"project","id":"13316e7e-21d7-43c8-9ee7-69674510ceeb","name":"savanna-3xp5a3","description":null,"account_id":"11111111-1111-1111-1111-111111111111","user_id":null,"created_by":null,"active":false,"alert_enabled":false,"service_count":1,"deployment_count":1,"sphere_count":1,"last_opened_at":null,"created_at":"2026-07-10T20:02:14.217027Z","updated_at":"2026-07-10T20:02:14.217027Z"}],"pagination":{"page":1,"page_size":20,"total":3,"total_pages":1,"next":null,"prev":null,"next_cursor":null,"prev_cursor":null},"warnings":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 122.148917ms
[...]
    - id: 4
      request:
        host: api.computesphere.com
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-token
            X-Account-Id:
                - f94e4c35-09f8-40dc-97c7-64ce613ddd87
        url: https://api.computesphere.com/v2/projects/29a0d0fb-4c9c-4aca-ba87-50255d950a2f
        method: GET
      response:
        body: '{"object":"project","id":"29a0d0fb-4c9c-4aca-ba87-50255d950a2f","name":"tf-datasource-list-2","description":"Project 2 for datasource list test","account_id":"11111111-1111-1111-1111-111111111111","user_id":null,"created_by":null,"active":false,"alert_enabled":false,"service_count":0,"deployment_count":0,"sphere_count":0,"last_opened_at":null,"created_at":"2026-07-11T02:39:06.122999Z","updated_at":"2026-07-11T02:39:06.122999Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 136.362541ms
[...]
    - id: 7
      request:
        host: api.computesphere.com
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-token
            X-Account-Id:
                - f94e4c35-09f8-40dc-97c7-64ce613ddd87
        url: https://api.computesphere.com/v2/projects/29a0d0fb-4c9c-4aca-ba87-50255d950a2f?cascade=true
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 140.715541ms
[...]
