---
version: 2
interactions:
    - id: 0
      request:
        host: api.computesphere.com
        body: '{"account_id":"11111111-1111-1111-1111-111111111111","description":"Project for datasource test","name":"tf-datasource-test"}'
        form: {}
        headers:
            Authorization:
                - some-api-token
            Content-Type:
                - application/json
        url: https://api.computesphere.com/v2/projects
        method: POST
      response:
        body: '{"object":"project","id":"f253ce36-a19e-4a20-8b89-42391bc2b014","name":"tf-datasource-test","description":"Project for datasource test","account_id":"11111111-1111-1111-1111-111111111111","user_id":null,"created_by":null,"active":false,"alert_enabled":false,"service_count":0,"deployment_count":0,"sphere_count":0,"last_opened_at":null,"created_at":"2026-07-11T02:30:08.889692Z","updated_at":"2026-07-11T02:30:08.889692Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 504.148916ms
    - id: 1
      request:
        host: api.computesphere.com
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-token
        url: https://api.computesphere.com/v2/projects/f253ce36-a19e-4a20-8b89-42391bc2b014
        method: GET
      response:
        body: '{"object":"project","id":"f253ce36-a19e-4a20-8b89-42391bc2b014","name":"tf-datasource-test","description":"Project for datasource test","account_id":"11111111-1111-1111-1111-111111111111","user_id":null,"created_by":null,"active":false,"alert_enabled":false,"service_count":0,"deployment_count":0,"sphere_count":0,"last_opened_at":null,"created_at":"2026-07-11T02:30:08.889692Z","updated_at":"2026-07-11T02:30:08.889692Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 141.688333ms
    - id: 2
      request:
        host: api.computesphere.com
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-token
        url: https://api.computesphere.com/v2/projects/f253ce36-a19e-4a20-8b89-42391bc2b014?cascade=true
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 150.490959ms
