---
version: 2
interactions:
    - id: 0
      request:
        host: api.computesphere.com
        body: '{"account_id":"11111111-1111-1111-1111-111111111111","description":"A sample ComputeSphere team created via Terraform","name":"example-team"}'
        form: {}
        headers:
            Authorization:
                - some-api-token
            Content-Type:
                - application/json
            X-Account-Id:
                - 11111111-1111-1111-1111-111111111111
        url: https://api.computesphere.com/v2/teams
        method: POST
      response:
        body: '{"object":"team","id":"b658f667-0862-40d3-bd19-c7346eaf2c66","name":"example-team","description":"A sample ComputeSphere team created via Terraform","account_id":"11111111-1111-1111-1111-111111111111","owner_id":"22222222-2222-2222-2222-222222222222","created_at":"2026-07-11T02:39:50.390618Z","updated_at":"2026-07-11T02:39:50.408949549Z","members":[{"object":"team_member","id":"22222222-2222-2222-2222-222222222222","email":"member@example.com","first_name":"Ada","last_name":"Lovelace"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 322.236666ms
    - id: 1
      request:
        host: api.computesphere.com
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-token
            X-Account-Id:
                - 11111111-1111-1111-1111-111111111111
        url: https://api.computesphere.com/v2/teams/b658f667-0862-40d3-bd19-c7346eaf2c66
        method: GET
      response:
        body: '{"object":"team","id":"b658f667-0862-40d3-bd19-c7346eaf2c66","name":"example-team","description":"A sample ComputeSphere team created via Terraform","account_id":"11111111-1111-1111-1111-111111111111","owner_id":"22222222-2222-2222-2222-222222222222","created_at":"2026-07-11T02:39:50.390618Z","updated_at":"2026-07-11T02:39:50.408949Z","members":[{"object":"team_member","id":"22222222-2222-2222-2222-222222222222","email":"member@example.com","first_name":"Ada","last_name":"Lovelace"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 121.815334ms
[...]
