---
version: 2
interactions:
    - id: 0
      request:
        host: api.computesphere.com
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-token
            X-Account-Id:
                - 11111111-1111-1111-1111-111111111111
        url: https://api.computesphere.com/v2/databases/instance-types
        method: GET
      response:
        body: '{"object":"list","items":[{"available":true,"burstable":false,"engine":"postgresql","family":"free","high_availability_allowed":false,"id":"pg-free","included_storage_gb":1,"max_connections":20,"memory_mb":256,"monthly_price":{"amount":0,"currency":"usd"},"name":"Free","object":"database_instance_type","price_group":"standard","unavailable_reason":null,"vcpu":0.1},{"available":true,"burstable":false,"engine":"postgresql","family":"flex","high_availability_allowed":false,"id":"pg-0.1c-256m","included_storage_gb":1,"max_connections":20,"memory_mb":256,"monthly_price":{"amount":600,"currency":"usd"},"name":"Flex 256 MB","object":"database_instance_type","price_group":"standard","unavailable_reason":null,"vcpu":0.1},{"available":true,"burstable":false,"engine":"postgresql","family":"flex","high_availability_allowed":false,"id":"pg-0.25c-512m","included_s[...]
[...]
