---
version: 2
interactions:
    - id: 0
      request:
        host: api.computesphere.com
        body: '{"active":true,"alert_type":"cpu","environment_id":"b3669d6a-d89e-4037-873a-65903f3f3ced","evaluation_period":5,"project_id":"13316e7e-21d7-43c8-9ee7-69674510ceeb","severity_level":"high","threshold":80}'
        form: {}
        headers:
            Authorization:
                - some-api-token
            Content-Type:
                - application/json
            X-Account-Id:
                - f94e4c35-09f8-40dc-97c7-64ce613ddd87
        url: https://api.computesphere.com/v2/alerts
        method: POST
      response:
        body: '{"object":"alert_rule","id":"b8a437fc-f8e1-481f-9301-d5690dd66b70","alert_type":"cpu","threshold":80,"evaluation_period":5,"severity_level":"high","project_id":"13316e7e-21d7-43c8-9ee7-69674510ceeb","environment_id":"b3669d6a-d89e-4037-873a-65903f3f3ced","active":true,"status":"","created_at":"2026-07-11T02:42:22.474908Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 349.880708ms
    - id: 1
      request:
        host: api.computesphere.com
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-token
            X-Account-Id:
                - f94e4c35-09f8-40dc-97c7-64ce613ddd87
        url: https://api.computesphere.com/v2/alerts/b8a437fc-f8e1-481f-9301-d5690dd66b70
        method: GET
      response:
        body: '{"object":"alert_rule","id":"b8a437fc-f8e1-481f-9301-d5690dd66b70","alert_type":"cpu","threshold":80,"evaluation_period":5,"severity_level":"high","project_id":"13316e7e-21d7-43c8-9ee7-69674510ceeb","environment_id":"b3669d6a-d89e-4037-873a-65903f3f3ced","active":true,"status":"inactive","created_at":"2026-07-11T02:42:22.474908Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 155.512667ms
[...]
