---
version: 2
interactions:
    - id: 0
      request:
        host: api.computesphere.com
        body: '{"domain":"example.com"}'
        form: {}
        headers:
            Authorization:
                - some-api-token
            Content-Type:
                - application/json
            X-Account-Id:
                - 11111111-1111-1111-1111-111111111111
        url: https://api.computesphere.com/v2/deployments/11111111-1111-1111-1111-111111111111/domains
        method: POST
      response:
        body: '{"domain":"example.com","hostname":"example.com","id":"33333333-3333-3333-3333-333333333333","is_primary":true,"status":"pending_dns","type":"custom"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 120ms
    - id: 1
      request:
        host: api.computesphere.com
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-token
            X-Account-Id:
                - 11111111-1111-1111-1111-111111111111
        url: https://api.computesphere.com/v2/deployments/11111111-1111-1111-1111-111111111111/domains/33333333-3333-3333-3333-333333333333
        method: GET
      response:
        body: '{"domain":"example.com","hostname":"example.com","id":"33333333-3333-3333-3333-333333333333","is_primary":true,"status":"pending_dns","type":"custom"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 90ms
[...]
