---
version: 2
interactions:
    - id: 0
      request:
        host: api.computesphere.com
        body: '{"description":"A sample guardrail for testing","effect":"block","message":"This is a test guardrail.","name":"example-guardrail","scope":"project","status":true,"type":"custom"}'
        form: {}
        headers:
            Authorization:
                - some-api-token
            Content-Type:
                - application/json
            X-Account-Id:
                - 11111111-1111-1111-1111-111111111111
        url: https://api.computesphere.com/v2/guardrails
        method: POST
      response:
        body: '{"object":"guardrail","id":"ff1830c7-f266-47e3-beaf-1dc25dfd8f86","account_id":"11111111-1111-1111-1111-111111111111","created_by":"22222222-2222-2222-2222-222222222222","name":"example-guardrail","description":"A sample guardrail for testing","type":"custom","scope":"project","effect":"block","message":"This is a test guardrail.","status":true,"is_predefined_assigned":false,"rules":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 399.803167ms
    - id: 1
      request:
        host: api.computesphere.com
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-token
            X-Account-Id:
                - 11111111-1111-1111-1111-111111111111
        url: https://api.computesphere.com/v2/guardrails?name=example-guardrail
        method: GET
      response:
        body: '{"object":"list","items":[{"object":"guardrail","id":"ff1830c7-f266-47e3-beaf-1dc25dfd8f86","account_id":"11111111-1111-1111-1111-111111111111","created_by":"22222222-2222-2222-2222-222222222222","name":"example-guardrail","description":"A sample guardrail for testing","type":"custom","scope":"project","effect":"block","message":"This is a test guardrail.","status":true,"is_predefined_assigned":false,"rules":[]},{"object":"guardrail","id":"525f19ec-4820-45b2-9c73-349c97d9a57f","account_id":"11111111-1111-1111-1111-111111111111","created_by":"22222222-2222-2222-2222-222222222222","name":"example-guardrail","description":"A sample guardrail for testing","type":"custom","scope":"project","effect":"block","message":"This is a test guardrail.","status":true,"is_predefined_assigned":false,"rules":[]}],"pagination":{"page":1,"page_size":20,"total":2,"total_pages":1,"next":null,"prev":null,"next_cursor":null,"prev_cursor":null},"warnings":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 111.678959ms
    - id: 2
      request:
        host: api.computesphere.com
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-token
            X-Account-Id:
                - 11111111-1111-1111-1111-111111111111
        url: https://api.computesphere.com/v2/guardrails/ff1830c7-f266-47e3-beaf-1dc25dfd8f86
        method: GET
      response:
        body: '{"object":"guardrail","id":"ff1830c7-f266-47e3-beaf-1dc25dfd8f86","account_id":"11111111-1111-1111-1111-111111111111","created_by":"22222222-2222-2222-2222-222222222222","name":"example-guardrail","description":"A sample guardrail for testing","type":"custom","scope":"project","effect":"block","message":"This is a test guardrail.","status":true,"is_predefined_assigned":false,"rules":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 107.0195ms
[...]
