---
version: 2
interactions:
    - id: 0
      request:
        host: api.computesphere.com
        body: '{"description":"A sample guardrail for testing","effect":"block","message":"This is a test guardrail.","name":"example-guardrail","scope":"project","status":true,"type":"custom"}'
        form: {}
        headers:
            Authorization:
                - some-api-token
            Content-Type:
                - application/json
            X-Account-Id:
                - f94e4c35-09f8-40dc-97c7-64ce613ddd87
        url: https://api.computesphere.com/v2/guardrails
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 340.795792ms
    - id: 1
      request:
        host: api.computesphere.com
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-token
            X-Account-Id:
                - f94e4c35-09f8-40dc-97c7-64ce613ddd87
        url: https://api.computesphere.com/v2/guardrails?name=example-guardrail
        method: GET
      response:
        body: '{"object":"list","items":[{"object":"guardrail","id":"535349ce-bc9b-4396-848c-09be5af461f5","account_id":"11111111-1111-1111-1111-111111111111","created_by":"","name":"example-guardrail","description":"A sample guardrail for testing","type":"custom","scope":"project","effect":"block","message":"This is a test guardrail.","status":true,"is_predefined_assigned":false,"rules":[]},{"object":"guardrail","id":"644e0c15-95cb-4912-ad82-77b9a658883a","account_id":"11111111-1111-1111-1111-111111111111","created_by":"","name":"example-guardrail","description":"A sample guardrail for testing","type":"custom","scope":"project","effect":"block","message":"This is a test guardrail.","status":true,"is_predefined_assigned":false,"rules":[]},{"object":"guardrail","id":"4b0d105a-d8b5-4199-8cd9-a12d716bbe29","account_id":"11111111-1111-1111-1111-111111111111","created_by":"","name":"example-guardrail","description":"A sample guardrail for testing","type":"custom","scope":"project","effect":"block","message":"test","status":true,"is_predefined_assigned":false,"rules":[]},{"object":"guardrail","id":"df41ea6f-dd20-439c-88e0-7104ffb9e565","account_id":"11111111-1111-1111-1111-111111111111","created_by":"","name":"example-guardrail","description":"A sample guardrail for testing","type":"custom","scope":"project","effect":"block","message":"This is a test guardrail.","status":true,"is_predefined_assigned":false,"rules":[]}],"pagination":{"page":1,"page_size":20,"total":4,"total_pages":1,"next":null,"prev":null,"next_cursor":null,"prev_cursor":null},"warnings":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 77.245625ms
