---
version: 2
interactions:
    - id: 0
      request:
        host: api.computesphere.com
        body: '{"active":true,"alert_type":"cpu","environment_id":"b3669d6a-d89e-4037-873a-65903f3f3ced","evaluation_period":5,"project_id":"13316e7e-21d7-43c8-9ee7-69674510ceeb","severity_level":"high","threshold":80}'
        form: {}
        headers:
            Authorization:
                - some-api-token
            Content-Type:
                - application/json
            X-Account-Id:
                - 11111111-1111-1111-1111-111111111111
        url: https://api.computesphere.com/v2/alerts
        method: POST
      response:
        body: '{"object":"alert_rule","id":"a449f91e-5417-48d5-a56a-0cb0a342ee42","alert_type":"cpu","threshold":80,"evaluation_period":5,"severity_level":"high","project_id":"13316e7e-21d7-43c8-9ee7-69674510ceeb","environment_id":"b3669d6a-d89e-4037-873a-65903f3f3ced","active":true,"status":"","created_at":"2026-07-11T02:50:22.76924Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 598.034667ms
    - id: 1
      request:
        host: api.computesphere.com
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-token
            X-Account-Id:
                - 11111111-1111-1111-1111-111111111111
        url: https://api.computesphere.com/v2/alerts/a449f91e-5417-48d5-a56a-0cb0a342ee42
        method: GET
      response:
        body: '{"object":"alert_rule","id":"a449f91e-5417-48d5-a56a-0cb0a342ee42","alert_type":"cpu","threshold":80,"evaluation_period":5,"severity_level":"high","project_id":"13316e7e-21d7-43c8-9ee7-69674510ceeb","environment_id":"b3669d6a-d89e-4037-873a-65903f3f3ced","active":true,"status":"inactive","created_at":"2026-07-11T02:50:22.76924Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 232.193375ms
[...]
