---
version: 2
interactions:
    - id: 0
      request:
        host: api.computesphere.com
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-token
            X-Account-Id:
                - f94e4c35-09f8-40dc-97c7-64ce613ddd87
        url: https://api.computesphere.com/v2/alerts?project_id=13316e7e-21d7-43c8-9ee7-69674510ceeb
        method: GET
      response:
        body: '{"object":"list","items":[],"pagination":{"page":1,"page_size":20,"total":0,"total_pages":0,"next":null,"prev":null,"next_cursor":null,"prev_cursor":null},"warnings":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 145.223292ms
[...]
